.vscode/
temp
/samples/
**/keep_local/
/build/BHBChatRoomBG/
/packs/
*.xpi*
*.crx
*.pem
*.zip
/src/extension/firefox/BHBChatRoomBG/
/src/extension/chrome/BHBChatRoomBG/
/res/icons/cached/
