/* 通用样式 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 400px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label span {
    white-space: nowrap;
    margin-right: 10px;
    flex-shrink: 0;
}

input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* 亮色主题 */
body.light {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
}

button.light {
    background-color: #ffc0cb;
    /* 粉色按钮 */
    color: #000;
}

/* 暗色主题 */
body.dark {
    /* background-color: #000080; */
    background-color: var(--dark-bgcolor);
    /* 深蓝色背景 */
    color: #ffc0cb;
    /* 粉色字体 */
}

button.dark {
    /* background-color: #000080; */
    background-color: var(--dark-bgcolor);
    /* 深蓝按钮 */
    color: #ffc0cb;
}

/* 背景图片样式 */
body.has-bg-image.light {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.has-bg-image.dark {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 主题背景图片 */
:root {
    --bg-image: url('');
    --dark-bgcolor: #2b2c40;
}