/* 通用样式 */
body {
    margin: 0;
    padding: 15px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 400px;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-direction: column;
}

/* 这段和meta标签配合才正确 */
@media (max-device-width: 768px) {
    body {
        min-width: 300px;
    }
}

.popup-header-topmost {
    display: flex;
    flex-direction: column;
    /* 默认居中对齐 */
    justify-content: center;
    align-items: center;
    position: relative;
    /* 与下方内容分隔 */
    margin-bottom: 1em;
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
}

/* 标题Header容器，使用flex布局 */
.popup-header {
    /* 允许按钮绝对定位 */
    flex-direction: row;
    position: relative;
    width: 100%;
}

/* 标题样式 */
.header-title {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    /* 保证标题占据可用空间，居中 */
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}

#opacityInputDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.select-container {
    display: flex;
    gap: 15px;
    width: 100%;
}

.customAvatarSettingsDiv,
.textStrokeSettingsDiv {
    row-gap: 5px;
    display: flex;
    flex-direction: column;
}

.customAvatarHorizontalDiv,
#backgroundSettingsCheckboxDiv,
.textStrokeSettingsHorizontalDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#textStrokeSettingsHorizontalDiv_row2 {
    column-gap: 10px;
}

p {
    margin: 0;
}

a.dark {
    color: var(--lighter-dark-bgcolor);
}

a.dark:focus,
a.dark:hover {
    color: var(--light-purple-bgcolor);
}

a.dark:active {
    color: var(--theme-color);
}

#ext_updateLink.dark:visited {
    color: var(--lighter-dark-bgcolor);
}

hr {
    width: 100%;
    border-width: 0;
    background: var(--white-smoke);
    height: 3px;
    margin: 0;
}

hr.dark {
    background: var(--lighter-dark-bgcolor);
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.checkbox {
    justify-content: start;
}

label span {
    white-space: nowrap;
    margin-right: 10px;
    flex-shrink: 0;
}

#opacitySliderValueSpan {
    width: 30px;
    margin-right: 0px;
    text-align: center;
}

input.dark {
    background-color: var(--lighter-dark-bgcolor);
    color: var(--light-purple-bgcolor);
}

input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* accent-color: var(--theme-color); */
    /* border: 1px solid #ccc; */
}

/* 自定义 Checkbox 外观 */
input[type="checkbox"] {
    /* 去除默认样式 */
    -webkit-appearance: none;
    appearance: none;
    aspect-ratio: 1;
    height: 15px;
    /* 边框颜色 */
    border: 1px solid var(--border-color, #d5d5d5);
    /* 设置为方角或圆角 */
    border-radius: 4px;
    /* 未勾选状态背景色 */
    background-color: var(--unchecked-bgcolor, var(--white-smoke));
    position: relative;
    cursor: pointer;
}

/* 勾选状态 */
input[type="checkbox"]:checked {
    /* 勾选状态背景色 */
    background-color: var(--checked-bgcolor, var(--theme-color));
    /* 勾选状态边框色 */
    border-color: var(--checked-border-color, var(--theme-color));
}

input.dark[type="checkbox"]:checked {
    /* 勾选状态背景色 */
    background-color: var(--lighter-dark-bgcolor);
    /* 勾选状态边框色 */
    border-color: var(--lighter-dark-bgcolor);
}

/* 添加勾选的勾 */
input[type="checkbox"]:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    /* 通过设置 line-height 来去除多余的空白 */
    line-height: 0;
    /* 使用 transform 水平和垂直居中 */
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 900;
    color: var(--white-smoke);
    /* color: var(--checked-sign-color); */
}

input.dark[type="checkbox"]:checked::after {
    color: var(--light-purple-bgcolor);
}

/* 鼠标悬停时的状态 */
input[type="checkbox"]:hover {
    /* 悬停时未勾选的颜色 */
    background-color: var(--hover-bgcolor, #e0e0e0);
    border-color: var(--hover-bgcolor, #e0e0e0);
}

/* 只应用于 Edge 和 Firefox 中 */
input[type="checkbox"]:not(:checked) {
    /* 设置未勾选时的颜色 */
    background-color: var(--unchecked-bgcolor, var(--white-smoke));
}

input.dark[type="checkbox"]:not(:checked) {
    /* 设置未勾选时的颜色 */
    background-color: var(--unchecked-bgcolor, var(--lighter-dark-bgcolor));
}

input.dark[type="checkbox"]:not(:checked):hover {
    /* 设置未勾选时的颜色 */
    background-color: var(--light-purple-bgcolor);
}

#opacitySlider {
    width: 100%;
}

input[type='range'] {
    width: 100%;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range'],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
}

input[type='range'] {
    background: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 24px;
    background: var(--slider-cover-background);
    /* border-radius 设置成 50% 会发生非常幽默的事。 */
    border-radius: 50%;
    /* border-radius 应当设置成高度的一半。 */
    /* border-radius: 12px; */
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 24px;
    background: var(--slider-cover-background);
    /* border-radius 设置成 50% 会发生非常幽默的事。 */
    border-radius: 50%;
    /* border-radius 应当设置成高度的一半。 */
    /* border-radius: 12px; */
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 24px;
    width: 24px;
    background: var(--theme-color);
    border-radius: 50%;
    border: 2px solid white;
}

input[type="range"]::-moz-range-thumb {
    position: relative;
    height: 24px;
    width: 24px;
    background: var(--theme-color);
    border-radius: 50%;
    border: 2px solid white;
}

/* 设置滑动条的进度颜色 */
input.dark[type="range"]::-webkit-slider-runnable-track {
    border-radius: 5px;
}

input.dark[type="range"]::-moz-range-track {
    border-radius: 5px;
}

input.dark[type="range"]::-webkit-slider-thumb {
    border-radius: 5px;
}

input.dark[type="range"]::-moz-range-thumb {
    border-radius: 5px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    /* 火狐浏览器的默认背景颜色不是纯白，文字颜色也不是灰色。 */
}

select.dark {
    background-color: var(--lighter-dark-bgcolor);
    color: var(--light-purple-bgcolor);
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    opacity: 0.8;
}

/* 亮色主题 */
body.light {
    background-image: var(--white-smoke);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* color: #000; */
    color: #566a7f;
}

button.light {
    background-color: var(--theme-color);
    /* 粉色按钮 */
    /* color: #000; */
}

/* 暗色主题 */
body.dark {
    /* background-color: #000080; */
    /* 深蓝色背景 */
    background-color: var(--dark-bgcolor);
    /* 粉色字体 */
    color: var(--theme-color);
    border-color: var(--dark-bgcolor);
}

button.dark {
    /* background-color: #000080; */
    /* 深蓝按钮 */
    background-color: var(--theme-color);
    color: white;
}

/* 暗色模式切换按钮样式 */
.theme-toggle {
    /* 宽度为父元素宽度 */
    width: auto;
    /* 高度为父元素高度 */
    height: 100%;
    /* 保证宽高比为 1:1 */
    aspect-ratio: 1;
    /* 定位到右上角 */
    position: absolute;
    right: 0px;
    top: 0;
    /* 无背景 */
    background: none;
    /* 无边框 */
    border: none;
    /* padding: 0.5em; */
    padding: 0%;
    cursor: pointer;
    display: block;
    align-items: center;
    justify-content: center;
}

/* 按钮里的图标 */
#themeToggle img {
    /* 图标大小 */
    width: auto;
    height: 70%;
    /* 保证宽高比为 1:1 */
    aspect-ratio: 1;
}

#customAvatar-saveInitialButton,
#customAvatar-recoverInitialButton,
#customAvatar-cleanButton,
#customAvatar-saveButton,
#opacityResetButton {
    /* padding: 0.5em; */
    padding: 0%;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30px;
    /* 保证宽高比为 1:1 */
    aspect-ratio: 1;
}

#customAvatar-saveInitialButton img,
#customAvatar-recoverInitialButton img,
#customAvatar-cleanButton img,
#customAvatar-saveButton img,
#opacityResetButton img {
    width: auto;
    height: 70%;
    /* 保证宽高比为 1:1 */
    aspect-ratio: 1;
}

#avatarUrlUsedSpan {
    word-break: break-all;
}

#avatarUrlUsedImg {
    width: auto;
    height: 100%;
    max-height: 3em;
    /* 保证宽高比为 1:1 */
    aspect-ratio: 1;
    /* 关键，裁剪内容以填充框 */
    object-fit: cover; 
}

#saveButton,
#applyButton {
    width: 100%;
}

/* 背景图片样式 */
body.has-bg-image.light {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.has-bg-image.dark {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 主题背景图片 */
:root {
    --bg-image: url('');
    --theme-color: #FF8FA2;
    --checked-sign-color: #d66c7e;
    --hover-bgcolor: #FFB2B8;
    --white-smoke: #e6e9ec;
    --dark-bgcolor: #2b2c40;
    --lighter-dark-bgcolor: #39394d;
    --light-purple-bgcolor: #A3A4CC;
    --slider-cover-background: var(--theme-color);
}