/* 通用样式 */
body {
    margin: 0;
    padding: 15px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 400px;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-direction: column;
}

/* 标题Header容器，使用flex布局 */
.popup-header {
    display: flex;
    /* 默认居中对齐 */
    justify-content: center;
    align-items: center;
    /* 允许按钮绝对定位 */
    position: relative;
    /* 与下方内容分隔 */
    margin-bottom: 1em;
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
}

/* 标题样式 */
.header-title {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    /* 保证标题占据可用空间，居中 */
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}

#opacityInputDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

#opacitySlider {
    width: 100%;
}

input[type='range'] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 10px;
    background: #AAA;
  }
  input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 30px;
    width: 30px;
    margin-top: -10px;
    background: steelblue;
    border-radius: 50%;
    border: 2px solid white;
  }
  input[type='range']::-webkit-slider-thumb::before {
    position: absolute;
    content: '';
    height: 10px; /* equal to height of runnable track */
    width: 500px; /* make this bigger than the widest range input element */
    left: -502px; /* this should be -2px - width */
    top: 8px; /* don't change this */
    background: #777;
  }

/* 设置滑动条的进度颜色 */
input.dark[type="range"]::-webkit-slider-runnable-track {
    /* 设置进度条的背景颜色 */
    background: var(--lighter-dark-bgcolor); 
    border-radius: 5px;
    /* height: 8px; */
}

input.dark[type="range"]::-webkit-slider-thumb {
    background: var(--theme-color); /* 滑块颜色 */
    border-radius: 5px;
}

.select-container {
    display: flex;
    gap: 15px;
    width: 100%;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.checkbox {
    justify-content: start;
}

label span {
    white-space: nowrap;
    margin-right: 10px;
    flex-shrink: 0;
}

#opacitySliderValueSpan {
    width: 30px;
    margin-right: 0px;
    text-align: center;
}

input.dark {
    background-color: var(--lighter-dark-bgcolor);
    color: var(--light-purple-bgcolor);
}

input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin: 5px;
    /* border: 1px solid #ccc; */
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    /* 火狐浏览器的默认背景颜色不是纯白，文字颜色也不是灰色。 */
}

select.dark {
    background-color: var(--lighter-dark-bgcolor);
    color: var(--light-purple-bgcolor);
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    opacity: 0.8;
}

/* 亮色主题 */
body.light {
    background-image: var(--white-smoke);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* color: #000; */
    color: #566a7f;
}

button.light {
    background-color: var(--theme-color);
    /* 粉色按钮 */
    /* color: #000; */
}

/* 暗色主题 */
body.dark {
    /* background-color: #000080; */
    /* 深蓝色背景 */
    background-color: var(--dark-bgcolor);
    /* 粉色字体 */
    color: var(--theme-color);
    border-color: var(--dark-bgcolor);
}

button.dark {
    /* background-color: #000080; */
    /* 深蓝按钮 */
    background-color: var(--theme-color);
    color: white;
}

/* 暗色模式切换按钮样式 */
.theme-toggle {
    /* 宽度为父元素宽度 */
    width: auto;
    /* 高度为父元素高度 */
    height: 100%;
    /* 保证宽高比为 1:1 */
    aspect-ratio: 1;
    /* 定位到右上角 */
    position: absolute;
    right: 0px;
    top: 0;
    /* 无背景 */
    background: none;
    /* 无边框 */
    border: none;
    /* padding: 0.5em; */
    padding: 0%;
    cursor: pointer;
    display: block;
    align-items: center;
    justify-content: center;
}

/* 按钮里的图标 */
#themeToggle img {
    /* 图标大小 */
    width: auto;
    height: 70%;
    /* 保证宽高比为 1:1 */
    aspect-ratio: 1;
}

#opacityResetButton {
    /* padding: 0.5em; */
    padding: 0%;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    /* 宽度为父元素宽度 */
    width: auto;
    /* 高度为父元素高度 */
    height: 100%;
    /* 保证宽高比为 1:1 */
    aspect-ratio: 1;
}

#opacityResetButton img {
    width: auto;
    height: 70%;
    /* 保证宽高比为 1:1 */
    aspect-ratio: 1;
}

/* 背景图片样式 */
body.has-bg-image.light {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.has-bg-image.dark {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 主题背景图片 */
:root {
    --bg-image: url('');
    --theme-color: #FF8FA2;
    --white-smoke: #e6e9ec;
    --dark-bgcolor: #2b2c40;
    --lighter-dark-bgcolor: #39394d;
    --light-purple-bgcolor: #A3A4CC;
}